build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.20.2/CMakeCCompiler.cmake
build/CMakeFiles/3.20.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.20.2/CMakeSystem.cmake
build/CMakeFiles/3.20.2/CompilerIdC/a.out
build/CMakeFiles/3.20.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.20.2/CompilerIdCXX/a.out
build/CMakeFiles/3.20.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/Awful.dir/awful.o
build/CMakeFiles/Awful.dir/awful.o.d
build/CMakeFiles/Awful.dir/build.make
build/CMakeFiles/Awful.dir/cmake_clean.cmake
build/CMakeFiles/Awful.dir/compiler_depend.internal
build/CMakeFiles/Awful.dir/compiler_depend.make
build/CMakeFiles/Awful.dir/compiler_depend.ts
build/CMakeFiles/Awful.dir/depend.make
build/CMakeFiles/Awful.dir/DependInfo.cmake
build/CMakeFiles/Awful.dir/flags.make
build/CMakeFiles/Awful.dir/Game.o
build/CMakeFiles/Awful.dir/Game.o.d
build/CMakeFiles/Awful.dir/link.txt
build/CMakeFiles/Awful.dir/progress.make
build/CMakeFiles/Awful.dir/State/MainMenuState.o
build/CMakeFiles/Awful.dir/State/MainMenuState.o.d
build/CMakeFiles/Awful.dir/State/State.o
build/CMakeFiles/Awful.dir/State/State.o.d
build/awful
build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/assets
build/CMakeFiles/Awful.dir/Actor/Actor.o
build/CMakeFiles/Awful.dir/Actor/Actor.o.d
build/CMakeFiles/Awful.dir/State/GameState.o
build/CMakeFiles/Awful.dir/State/GameState.o.d
