build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.20.2/CMakeCCompiler.cmake
build/CMakeFiles/3.20.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.20.2/CMakeSystem.cmake
build/CMakeFiles/3.20.2/CompilerIdC/a.out
build/CMakeFiles/3.20.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.20.2/CompilerIdCXX/a.out
build/CMakeFiles/3.20.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/Awful.dir/awful.o
build/CMakeFiles/Awful.dir/awful.o.d
build/CMakeFiles/Awful.dir/build.make
build/CMakeFiles/Awful.dir/cmake_clean.cmake
build/CMakeFiles/Awful.dir/compiler_depend.internal
build/CMakeFiles/Awful.dir/compiler_depend.make
build/CMakeFiles/Awful.dir/compiler_depend.ts
build/CMakeFiles/Awful.dir/depend.make
build/CMakeFiles/Awful.dir/DependInfo.cmake
build/CMakeFiles/Awful.dir/flags.make
build/CMakeFiles/Awful.dir/Game.o
build/CMakeFiles/Awful.dir/Game.o.d
build/CMakeFiles/Awful.dir/link.txt
build/CMakeFiles/Awful.dir/progress.make
build/CMakeFiles/Awful.dir/State/MainMenuState.o
build/CMakeFiles/Awful.dir/State/MainMenuState.o.d
build/CMakeFiles/Awful.dir/State/State.o
build/CMakeFiles/Awful.dir/State/State.o.d
build/awful
build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/assets
build/CMakeFiles/Awful.dir/Actor/Actor.o
build/CMakeFiles/Awful.dir/Actor/Actor.o.d
build/CMakeFiles/Awful.dir/State/GameState.o
build/CMakeFiles/Awful.dir/State/GameState.o.d
build/New folder/Awful
build/New folder/awful 2
build/New folder/cmake_install.cmake
build/New folder/CMakeCache.txt
build/New folder/Makefile
build/New folder/CMakeFiles/cmake.check_cache
build/New folder/CMakeFiles/CMakeDirectoryInformation.cmake
build/New folder/CMakeFiles/CMakeOutput.log
build/New folder/CMakeFiles/Makefile.cmake
build/New folder/CMakeFiles/Makefile2
build/New folder/CMakeFiles/progress.marks
build/New folder/CMakeFiles/TargetDirectories.txt
build/New folder/CMakeFiles/3.20.2/CMakeCCompiler.cmake
build/New folder/CMakeFiles/3.20.2/CMakeCXXCompiler.cmake
build/New folder/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_C.bin
build/New folder/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_CXX.bin
build/New folder/CMakeFiles/3.20.2/CMakeSystem.cmake
build/New folder/CMakeFiles/3.20.2/CompilerIdC/a.out
build/New folder/CMakeFiles/3.20.2/CompilerIdC/CMakeCCompilerId.c
build/New folder/CMakeFiles/3.20.2/CompilerIdCXX/a.out
build/New folder/CMakeFiles/3.20.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/New folder/CMakeFiles/Awful.dir/awful.o
build/New folder/CMakeFiles/Awful.dir/awful.o.d
build/New folder/CMakeFiles/Awful.dir/build.make
build/New folder/CMakeFiles/Awful.dir/cmake_clean.cmake
build/New folder/CMakeFiles/Awful.dir/compiler_depend.internal
build/New folder/CMakeFiles/Awful.dir/compiler_depend.make
build/New folder/CMakeFiles/Awful.dir/compiler_depend.ts
build/New folder/CMakeFiles/Awful.dir/depend.make
build/New folder/CMakeFiles/Awful.dir/DependInfo.cmake
build/New folder/CMakeFiles/Awful.dir/flags.make
build/New folder/CMakeFiles/Awful.dir/Game.o
build/New folder/CMakeFiles/Awful.dir/Game.o.d
build/New folder/CMakeFiles/Awful.dir/link.txt
build/New folder/CMakeFiles/Awful.dir/progress.make
build/New folder/CMakeFiles/Awful.dir/Actor/Actor.o
build/New folder/CMakeFiles/Awful.dir/Actor/Actor.o.d
build/New folder/CMakeFiles/Awful.dir/State/GameState.o
build/New folder/CMakeFiles/Awful.dir/State/GameState.o.d
build/New folder/CMakeFiles/Awful.dir/State/MainMenuState.o
build/New folder/CMakeFiles/Awful.dir/State/MainMenuState.o.d
build/New folder/CMakeFiles/Awful.dir/State/State.o
build/New folder/CMakeFiles/Awful.dir/State/State.o.d
awful.code-workspace
.vscode/settings.json
build/compile_commands.json
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-9ec8cb3957a2dbc4f8b6.json
build/.cmake/api/v1/reply/codemodel-v2-3a519c67595879501fd9.json
build/.cmake/api/v1/reply/index-2021-05-26T06-41-49-0097.json
build/.cmake/api/v1/reply/target-awful-Debug-9ae2f3f3adda8acef5a0.json
build/.cmake/api/v1/reply/toolchains-v1-aa1611fca48e40965bc0.json
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
awful.sln
awful.vcxproj
awful.vcxproj.filters
cmake_install.cmake
CMakeCache.txt
LICENSE
README.md
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
.vscode/c_cpp_properties.json
assets/ARCADECLASSIC.TTF
assets/dot.bmp
build/awful.exe
build/openal32.dll
build/sfml-audio-2.dll
build/sfml-audio-d-2.dll
build/sfml-graphics-2.dll
build/sfml-graphics-d-2.dll
build/sfml-network-2.dll
build/sfml-network-d-2.dll
build/sfml-system-2.dll
build/sfml-system-d-2.dll
build/sfml-window-2.dll
build/sfml-window-d-2.dll
build/.cmake/api/v1/reply/cache-v2-a3155611797869461711.json
build/.cmake/api/v1/reply/codemodel-v2-f4a0a837d2df912e34bc.json
build/.cmake/api/v1/reply/index-2021-05-29T01-40-09-0037.json
build/.cmake/api/v1/reply/target-awful-Debug-c98990d28640ae98896c.json
build/.cmake/api/v1/reply/toolchains-v1-aabce09e369830bdf1ae.json
build/CMakeFiles/3.20.2/CMakeRCCompiler.cmake
build/CMakeFiles/3.20.2/CompilerIdC/a.exe
build/CMakeFiles/3.20.2/CompilerIdCXX/a.exe
build/CMakeFiles/awful.dir/awful.cpp.obj
build/CMakeFiles/awful.dir/awful.cpp.obj.d
build/CMakeFiles/awful.dir/Game.cpp.obj
build/CMakeFiles/awful.dir/Game.cpp.obj.d
build/CMakeFiles/awful.dir/includes_CXX.rsp
build/CMakeFiles/awful.dir/linklibs.rsp
build/CMakeFiles/awful.dir/objects.a
build/CMakeFiles/awful.dir/objects1.rsp
build/CMakeFiles/awful.dir/Actor/Actor.cpp.obj
build/CMakeFiles/awful.dir/Actor/Actor.cpp.obj.d
build/CMakeFiles/awful.dir/State/GameState.cpp.obj
build/CMakeFiles/awful.dir/State/GameState.cpp.obj.d
build/CMakeFiles/awful.dir/State/MainMenuState.cpp.obj
build/CMakeFiles/awful.dir/State/MainMenuState.cpp.obj.d
build/CMakeFiles/awful.dir/State/State.cpp.obj
build/CMakeFiles/awful.dir/State/State.cpp.obj.d
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeOutput.log
CMakeFiles/generate.stamp
CMakeFiles/generate.stamp.depend
CMakeFiles/generate.stamp.list
CMakeFiles/TargetDirectories.txt
CMakeFiles/183b364a2615ab72b1f05567133cebcb/generate.stamp.rule
CMakeFiles/3.20.2/CMakeCCompiler.cmake
CMakeFiles/3.20.2/CMakeCXXCompiler.cmake
CMakeFiles/3.20.2/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.20.2/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.20.2/CMakeRCCompiler.cmake
CMakeFiles/3.20.2/CMakeSystem.cmake
CMakeFiles/3.20.2/VCTargetsPath.txt
CMakeFiles/3.20.2/VCTargetsPath.vcxproj
CMakeFiles/3.20.2/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.20.2/CompilerIdC/CompilerIdC.exe
CMakeFiles/3.20.2/CompilerIdC/CompilerIdC.vcxproj
CMakeFiles/3.20.2/CompilerIdC/Debug/CMakeCCompilerId.obj
CMakeFiles/3.20.2/CompilerIdC/Debug/CompilerIdC.exe.recipe
CMakeFiles/3.20.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
CMakeFiles/3.20.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
CMakeFiles/3.20.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
CMakeFiles/3.20.2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
CMakeFiles/3.20.2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
CMakeFiles/3.20.2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
CMakeFiles/3.20.2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
CMakeFiles/3.20.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/3.20.2/CompilerIdCXX/CompilerIdCXX.exe
CMakeFiles/3.20.2/CompilerIdCXX/CompilerIdCXX.vcxproj
CMakeFiles/3.20.2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
CMakeFiles/3.20.2/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
CMakeFiles/3.20.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
CMakeFiles/3.20.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
CMakeFiles/3.20.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
CMakeFiles/3.20.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
CMakeFiles/3.20.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
CMakeFiles/3.20.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
CMakeFiles/3.20.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
CMakeFiles/3.20.2/x64/Debug/VCTargetsPath.recipe
CMakeFiles/3.20.2/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/awful.dir/Actor/Player.cpp.obj.d
build/.cmake/api/v1/reply/cache-v2-2a2ba9acfe1d6a990c42.json
build/.cmake/api/v1/reply/codemodel-v2-b754f401fd8e001c5212.json
build/.cmake/api/v1/reply/index-2021-05-29T03-45-51-0891.json
build/.cmake/api/v1/reply/target-awful-Debug-efef42cd2ce60e2372b9.json
build/CMakeFiles/awful.dir/Actor/Player.cpp.obj
